<a href="https://colab.research.google.com/github/jorgel-mendes/OnePieceWiki/blob/master/One_Piece_Webscrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
sys.path.append("drive/My Drive/Programação Data Science/Projetos_Igor")

In [2]:
import web_scapping
import pandas as pd
import numpy as np

In [3]:
chapters = [number+1 for number in range(10)]
character_data = [None]*len(chapters)
chapter_data = [None]*len(chapters)

for chapter in chapters:
  character_data[chapter-1], chapter_data[chapter-1] = web_scapping.get_dataframes(str(chapter))

In [4]:
character_df = pd.concat(character_data).reset_index(drop=True)
character_df

         Characters   Classes             Groups     Detail  Chapter
0            Shanks   Pirates   Red Hair Pirates        NaN        1
1      Benn Beckman   Pirates   Red Hair Pirates        NaN        1
2        Lucky Roux   Pirates   Red Hair Pirates        NaN        1
3            Yasopp   Pirates   Red Hair Pirates        NaN        1
4        Gold Roger   Pirates             Others  Flashback        1
..              ...       ...                ...        ...      ...
78  Monkey D. Luffy   Pirates  Straw Hat Pirates        NaN       10
79     Roronoa Zoro   Pirates  Straw Hat Pirates        NaN       10
80            Buggy   Pirates      Buggy Pirates        NaN       10
81  Acrobatic Fuwas   Pirates      Buggy Pirates        NaN       10
82             Nami  Citizens   Cocoyasi Village        NaN       10

[83 rows x 5 columns]

In [5]:
chapter_df = pd.concat(chapter_data).reset_index(drop=True)
chapter_df

   Chapter  Volume  ... Release date Cover information
0        1       1  ...   1997-07-19      Color Spread
1        2       1  ...   1997-07-28    Animal Theater
2        3       1  ...   1997-08-04    Animal Theater
3        4       1  ...   1997-08-11              None
4        5       1  ...   1997-08-25    Animal Theater
5        6       1  ...   1997-09-01              None
6        7       1  ...   1997-09-08       Color Cover
7        8       1  ...   1997-09-15    Animal Theater
8        9       2  ...   1997-09-22    Animal Theater
9       10       2  ...   1997-09-29    Animal Theater

[10 rows x 7 columns]